openapi: 3.0.3
info:
  title: Dokumen API JsCroot - OpenAPI 3.0
  description: >-
    This is a sample API Docs
    Oke sip
  termsOfService: http://vanillajskit.github.io
  contact:
    email: awangga@gmail.com
  license:
    name: MIT License
    url: https://opensource.org/license/mit/
  version: 1.0.11
externalDocs:
  description: Find out more about JSCroot
  url: http://jscroot.github.io
servers:
  - url: https://asia-southeast2-awangga.cloudfunctions.net
tags:
  - name: data
    description: Data Geo Spasial
    externalDocs:
      description: Backend GCF GET
      url: https://petapedia.github.io/gcf/get/
  - name: auth
    description: Auth to Access to API
    externalDocs:
      description: Backend GCF POST
      url: https://petapedia.github.io/gcf/post/
  - name: user
    description: Get Token and Authorize
paths:
  /petapedia:
    get:
      tags:
        - data
      summary: Get Data Geospasial
      description: List Data Geospasial
      operationId: getGeoJSON
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Peta'
        '400':
          description: Invalid status value
      security:
        - token:
            - write:pets
            - read:pets
  /petapedia-post:
    post:
      tags:
        - auth
      summary: Login get Token
      description: Login and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
components:
  schemas:
    Peta:
      type: object
      properties:
        type:
          type: string
        geometry:
          type: object
          properties:
            type: 
              type: string
            coordinates: 
              type: array
        properties:
          type: object
          properties:
            name:
              type: string
    Auth:
      type: object
      properties:
        username:
          type: string
          example: petped
        password:
          type: string
          example: secret
    AuthResponse:
      type: object
      properties:
        status:
          type: bool
          example: false
        message:
          type: string
          example: fehguy
        token:
          type: string
          example: fehguy
  requestBodies:
    AuthReq:
      description: Request Authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Auth'
    UserArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuthResponse'
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header
